# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
TestO3D/x64/
x64/
Console/bin/
Console/TestConsole.vcxproj.user
Console/TestConsole.vcxproj.filters
Console/TestConsole.dir/
